.menu-container {
  width: 100%;
  height: 100vh;
  position: relative;
  text-align: center;
}

.background-image {
  width: 30vw;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-btn-position {
  height: 65%;
}

i {
  padding-left: 10px;
  font-size: 24px;
}

.trabalhos-container {
  background-color: black;
}

.quem-somos-container {
  background-color: white;
}

.contactos-container {
  background-color: $yellow;
}

.eventos-container {
  background-color: black;
}

.casamentos-container {
  background-color: white;
}

.institucional-container {
  background-color: $yellow;
}

