<div class="landing-container">
  <%= video_tag "VOU-ME DESPEDIR DO RIO.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "landing_video" %>
  <div class="landing-position"></div>
  <div class="btn btn-landing">
    <a href="menu" class="btn-landing-text text-decoration-none text-reset">Entrar</a>
    <i class="fas fa-angle-right"></i>
  </div>
</div>
