<div class="menu-container eventos-container">
  <img src="/assets/Cativa-Logo-White-Yellow-Prio.png", class="background-image" />
  <div class="logo-container"></div>
  <div class="menu-btn">
    <a href="menu-trabalhos" class="btn btn-menu btn-eventos text-decoration-none text-reset">Eventos</a>
  </div>
</div>
<div class="menu-container casamentos-container">
  <img src="/assets/Cativa-Logo-Black-Yellow-Prio.png", class="background-image" />
  <div class="logo-container"></div>
  <div class="menu-btn">
    <a href="quem-somos" class="btn btn-menu btn-casamentos text-decoration-none text-reset">Casamentos</a>
  </div>
</div>
<div class="menu-container institucional-container">
  <img src="/assets/Cativa-Logo-Black-White.png", class="background-image" />
  <div class="logo-container"></div>
  <div class="menu-btn">
    <a href="contactos" class="btn btn-menu btn-institucional text-decoration-none text-reset">Institucional</a>
  </div>
</div>
