<div class="menu-container trabalhos-container">
  <img src="/assets/Cativa-Logo-White-Yellow-Prio.png", class="background-image" />
  <div class="menu-btn-position"></div>
  <div class="btn btn-menu btn-trabalhos yellow-white">
    <a href="menu-trabalhos" class="text-decoration-none text-reset">Trabalhos:</a>
  </div>
</div>
<div class="menu-container quem-somos-container">
  <img src="/assets/Cativa-Logo-Black-Yellow-Prio.png", class="background-image" />
  <div class="menu-btn-position"></div>
  <div class="btn btn-menu btn-quem-somos black-white">
    <a href="about" class="text-decoration-none text-reset">Quem somos:</a>
  </div>
</div>
<div class="menu-container contactos-container">
  <img src="/assets/Cativa-Logo-Black-White.png", class="background-image" />
  <div class="menu-btn-position"></div>
  <div class="btn btn-menu btn-contactos white-black">
    <a href="contactos" class="text-decoration-none text-reset">Contactos:</a>
  </div>
</div>
