<div class="menu-container trabalhos-container">
  <img src="/assets/Cativa-Logo-White-Yellow-Prio.png", class="background-image" />
  <div class="logo-container"></div>
  <div class="menu-btn">
    <a href="menu-trabalhos" class="btn btn-menu btn-trabalhos text-decoration-none text-reset">Trabalhos:</a>
  </div>
</div>
<div class="menu-container quem-somos-container">
  <img src="/assets/Cativa-Logo-Black-Yellow-Prio.png", class="background-image" />
  <div class="logo-container"></div>
  <div class="menu-btn">
    <a href="quem-somos" class="btn btn-menu btn-quem-somos text-decoration-none text-reset">Quem somos:</a>
  </div>
</div>
<div class="menu-container contactos-container">
  <img src="/assets/Cativa-Logo-Black-White.png", class="background-image" />
  <div class="logo-container"></div>
  <div class="menu-btn">
    <a href="contactos" class="btn btn-menu btn-contactos text-decoration-none text-reset">Contactos:</a>
  </div>
</div>
