.yellow-white {
  background-color: $yellow;
  color: white;
  &.yellow-white:hover {
    color: white;
  }
}


.black-white {
  background-color: black;
  color: white;
  &.black-white:hover {
    color: white;
  }
}

.white-black {
  background-color: white;
  color: black;
  &.white-black:hover {
    color: black;
  }
}

.btn {
  border-radius: 6px;
  transition: transform 0.5s ease;
}

.btn:hover {
  transform: scale(1.05);
}

.btn-landing {
  margin: auto;
  width: 150px;
  height: 50px;
}

.btn-menu {
  margin: auto;
  width: 180px;
  height: 50px;
  font-size: 20px;
}




